
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div class="content">
    <div class="float-left">
        <ul id="update-products">
            <li>
                <div>
                    <a class="btn btn-default" href="~/Survey/Create">Make Survey &raquo;</a>
                    <a class="btn btn-default" href="~/Survey/Create">Take Survey &raquo;</a>
                </div>
            </li>
        </ul>
    </div>
</div>