@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Cookie Jar</h1>
    <p class="lead">Welcome to The Cookie Jar.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Time Out For Tea</h2>
        <p>
            What kind of cookie lover are you?
        </p>
        <p><a class="btn btn-default" href="~/Survey/Create">Subscribe &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Indulgent Decadence</h2>
        <p>We have just the right Cookie Box for you!</p>
        <p><a class="btn btn-default" href="~/Survey/Create">Subscribe &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Kid in Me</h2>
        <p>Mmmm...Cookies!</p>
        <p>
            <a class="btn btn-default" href="~/Survey/Create">Subscribe &raquo;</a>
        </p>
    </div>
    
</div>