@{
    ViewBag.Title = "Prices";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-12"><h3>ALL boxes come with a Mug, 3 Cookies, and a Beverage.</h3></div>


        <div class="col-sm-12">
            <div class="col-sm-3">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <h1>Gold Subsription</h1>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>1 year</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$100</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 15 boxes.</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>2 years</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$150</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 30 Boxes</li>
                    </ul>
                </div>
            </div>
            

            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>3 years <!--<span class="label label-success">Best Value!</span> --></strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$200</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 45 Boxes</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-sm-12">
            <div class="col-sm-3">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <h1>Silver Subsription</h1>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>1 year</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$75</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 13 Boxes</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>2 years</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$125</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 26 Boxes</li>
                    </ul>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>3 years <!--<span class="label label-success">Best Value!</span> --></strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$150</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 40 Boxes</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-sm-12">
            <div class="col-sm-3">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <h1>Bronze Subsription</h1>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>1 year</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$50</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 12 Boxes</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>2 years</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$75</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 24 Boxes</li>
                    </ul>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>3 years <!--<span class="label label-success">Best Value!</span> --></strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$100</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 36 Boxes</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-sm-12">
            <div class="col-sm-3">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <h1>Pay as you go </h1>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>1 month</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$18</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 1 Box a month</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>2 months</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$25</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 3 boxes</li>
                    </ul>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>6 months <!--<span class="label label-success">Best Value!</span> --></strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">45</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">For a total of 8 Boxes</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
